/* Pantalla completa blanca con el loader centrado */
.fullscreen-loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-out;
  opacity: 1;
  pointer-events: none;
}

.fullscreen-loader.fade-out {
  opacity: 0;
}


/* Estilo del loader animado */
.loader {
  width: 40px;
  height: 40px;
  color: #007BFF; /* Azul */
  background:
    conic-gradient(from  -45deg at top    20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
    conic-gradient(from   45deg at right  20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
    conic-gradient(from  135deg at bottom 20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
    conic-gradient(from -135deg at left   20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg);
  animation: l4 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes l4 {
  50%  {width:60px;height: 60px;transform: rotate(180deg)}
  100% {transform: rotate(360deg)}
}
