:root{
    --blue-sapphire-clr_r: #2a40bf;
    --blue-cobalt-clr_r: #2b3a8c;
    --blue-royal-clr_r: #1935ca;
    --dark-royal-clr_r: #0d24a1;
    --blue-indigo-clr_r: #140b99;
    --white-smoke-clr_r: #fbf9f9;
    --white-clr_r: #fffffe;
    --yellow-clr_r: #f2cb05;
    --dark-yellow-clr_r: #dfba00;
    --orange-clr_r: #f2a007;
    --dark-orange-clr_r: #ce8806;
    --primary-text-clr_r: #696F79;
}

/* Estilos para la pagina de resultados de profesor */

.results__body_r{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    ::-webkit-scrollbar{
        width: 1.5vmin;
    }
    
    ::-webkit-scrollbar-track{
        background-color: var(--white-smoke-clr_r);
        border-radius: 4px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    }
    
    ::-webkit-scrollbar-thumb{
        background: var(--blue-royal-clr_r);
        border-radius: 4px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    }

    .header_r {
        display: grid;
        grid-template-columns: auto 1fr auto;
        background-color: var(--white-smoke-clr_r);
        padding: 1vh;
    }
    
    .logo__link_r {
        display: flex;
        align-items: center;
        padding-left: 1vh;
        gap: 10px;
        text-decoration: none;
        color: inherit; 
        transition: opacity 0.3s ease;
    }
    
    .logo__link_r:hover {
        opacity: 0.8;
    }    
    
    .image__source_r{
        width: 3.5vw;
    }
    
    .logo__text_r{
        color: var(--blue-royal-clr_r);
        font-size: 1.3vw;
        font-weight: bold;
    }
    
    .header__title_r{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .title__text_r{
        font-size: 1.4vw;
        font-weight: 700;
        color: var(--blue-royal-clr_r);
    }
    
    .header__profile_r{
        display: flex;
        align-items: center;
        padding-right: 1vh;
    }
    
    .main_r {
      padding: 0vh 1vh 1vh 1vh;
      height: 100%;
      width: 100%; /* Asegurar que ocupe todo el ancho */
    }
    
    .results__container_r{
        border: 1px solid var(--line-clr_r);
        border-radius: 1em;
        padding: 1.5%;
        background-color: var(--white-clr_r);
        box-shadow: 1px 1px 25px 3px rgba(0, 0, 0, 0.05);
        height: 100%;
        width: 100%;
    
        display: grid;
        grid-template-columns: 20% 57% 20%;
        gap: 1.5%;
    
        .container__right_r{
            display: grid;
            grid-template-rows: 72% 1fr;
            gap: 3%;
        }

        .right__groups_r{
            background-color: var(--white-smoke-clr_r);
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.06);
            height: 100%;
            width: 100%;   
            border-radius: 1em;
    
            display: grid;
            grid-template-rows: 8vmin 1fr auto;
            align-items: center;
            justify-items: center;
        }
    
        .right__box_r{
            display: flex;
            align-items: center;
            padding: 2vmin 2vmin 0 0;
            height: 42vmin;
            width: 100%;
        }
    
        .box__list_r {
            width: 100%;
            height: 42vmin;
            overflow-y: scroll;
            padding: 0.3vmin 2vmin 0.3vmin 2vmin;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 2vmin;
        }   
        
        .list__group_r {
            background-color: white;
            width: 100%;
            height: 20%;
            box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.06);
            border-radius: 1em;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25%;
            padding: 2%;
            align-items: center;
            justify-items: center;
        }

        .group__text_r{           
            h4{
                font-size: 0.9vmax;
                font-weight: 600;
            }
        }

        .right__buttons_r{
            height: 9vmin;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    
        .right__button_r {
            all: unset;
            height: 5vmin;
            width: 8vw;
            background-color: var(--orange-clr_r);
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.06);
            border-radius: 5px;
            font-size: 0.8vw;
            font-weight: 600;
            color: white;
            cursor: pointer;
            
            display: flex;      
            align-items: center;
            justify-content: center;
            transition: 0.5s ease-in-out
        }

        .right__button_r:hover{
            background-color: var(--dark-orange-clr_r);
            transition: 0.5s ease-in-out
        }

        .right__images_r {
            width: 100%;
            height: 100%;
            background-color: var(--white-smoke-clr_r);
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.06);
            border-radius: 1em;
        }
        
        .right__slider_r {            
            border-radius: 1em;
            background-color: white;
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        
        .slider__images_r {
            position: absolute;
            width: max-content;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            transition: 1s;
            aspect-ratio: 16/9;
        }
        
        .image__item_r {
            width: 20vmax;
            height: 100%;
            object-fit: fill;
        }
        
        .slider__nav_r {
            position: absolute;
            height: 100%;
            width: 100%;
            padding-inline: 5%;
        
            display: flex;
            align-items: center;
            justify-content: space-between;
        }     
        
        .nav__button_r {
            width: 3.5vmin;
            height: 5vmin;
            border-radius: 0.6vmin;
            background-color: var(--orange-clr_r);
            color: #fff;
            border: none;
            font-size: 1.5vw;    
            cursor: pointer;
            transition: 0.5s ease-in-out;
        
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav__button_r:hover{
            background-color: var(--dark-orange-clr_r);
            transition: 0.5s ease-in-out;
        }

        .button__download_r {
            all: unset;
            background-color: var(--orange-clr_r);
            color: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 4vmin;
            height: 4vmin;
            font-size: 1vw;  
            border-radius: 0.6vmin;
            margin-bottom: 15px;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s ease-in-out;
        }
        
        .button__download_r:hover{
            background-color: var(--dark-orange-clr_r);
            transition: 0.5s ease-in-out;
        }
    
        .container__left_r{
            display: grid;
            grid-template-rows: 60% 36%;
            gap: 4%;
        }

        .container__box_r{
            background-color: var(--white-smoke-clr_r);
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.06);
            height: 100%;
            width: 100%;   
            border-radius: 1em;
    
            display: grid;
            grid-template-rows: 8vmin 1fr;
            align-items: center;
            justify-items: center;
        }
    
        .box__title_r{
            background-color: var(--blue-royal-clr_r);
            border-radius: 1em 1em 0px 0px;
            height: 100%;
            width: 100%;
            font-size: 1vw;
            font-weight: 600;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box__group_r{
            padding: 6% 4%;
            height: 100%;
            width: 100%;

            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 6%;
        }
        
        .group__shape_r {
            background-color: white;

            width: 100%;
            box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.06);
            border-radius: 1em;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .shape__name_r{
            font-size: 0.9vmax;
            font-weight: 600;
        }

        .box__content_r{
            height: 100%;
            width: 100%;
            padding: 4%;
        }

        .content__list_r{
            padding: 2vmin 2vmin 2vmin 0;
            height: 19vmin;
            width: 100%;

            background-color: white;
            box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.06);
            border-radius: 1em;
        }
    
        .list__award_r {
            width: 100%;
            height: 15vmin;
            overflow-y: scroll;
            padding: 0.3vmin 2vmin 0.3vmin 2vmin;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;       
            align-items: center;
            justify-items: center;
            gap: 1%;
            row-gap: 4vmin;
        }   

        .award_r{
            background-color: var(--dark-orange-clr_r);
            position: relative;
            width: 7vmin;
            height: 7vmin;
            border-radius: 50%;
            transition: 0.5s ease-in-out;
        }

        .award_r:hover{
            transform: scale(1.1);
            transition: 0.5s ease-in-out;
        }
        
        .award__border_r{
            background-color: transparent;
            position: absolute;
            width: 7vmin;
            height: 7vmin;
            border-radius: 50%;
            border: var(--orange-clr_r) solid 0.5vmin;
            box-shadow: 0 0 0.2px 0.2px rgba(0, 0, 0, 0.02),
            inset 0 0 0.10px 0.5px rgba(0, 0, 0, 0.05);
            z-index: 5;
        }
        
        .award__body_r{
            position: absolute;
            background-color: var(--orange-clr_r);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4.7vmin;
            height: 4.7vmin;    
            border-radius: 50%;
            box-shadow: 0 0 0.10px 0.5px rgba(0, 0, 0, 0.05);
            z-index: 6;

            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2.5vmin;
                color: white;
            }
        }
        
        .award__ribbon_r{
            position: absolute;
            top: 8vmin;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto; 
            height: 2.8vmin;
            width: 2.4vmin;
            border-radius: 0.5vmin;
        }
        
        .ribbon--left_r{
            right: 2.5vmin;
            z-index: 2;
            border-top: 1vmin solid var(--blue-royal-clr_r);
            border-left: 1.2vmin solid var(--blue-royal-clr_r);
            border-right: 1.2vmin solid var(--blue-royal-clr_r);
            border-bottom: 1.2vmin solid transparent;    
            transform: rotate(12deg);
        }
        
        .ribbon--right_r{
            right: -2.5vmin;
            z-index: 1;
            border-top: 1vmin solid var(--dark-royal-clr_r);
            border-left: 1.2vmin solid var(--dark-royal-clr_r);
            border-right: 1.2vmin solid var(--dark-royal-clr_r);
            border-bottom: 1.2vmin solid transparent;    
            transform: rotate(-12deg);
        }       
        
        .box__results_r{
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 6vmin 1fr;
        }

        .results__header_r{
            display: grid;
            grid-template-columns: 1fr 1fr;             
        }

        .results__title_r{
            background-color: white;
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.04);                 
            display: flex;
            align-items: center;
            justify-content: center;

            h4{                
                font-size: 1vw;
                font-weight: 600;
            }
        }

        .results__title_r:first-child{
            border-radius: 0em 0em 0em 1em;      
        }

        .results__title_r:last-child{
            border-radius: 0em 0em 1em 0em;      
        }
        
        .results__content_r{
            width: 100%;
            height: 100%;
            padding: 2%;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            gap: 4%;
        }   
        
        .results__shape_r {
            display: grid;
            width: 100%;
            grid-template-columns: 12% 86%;
            justify-content: center;
            gap: 2%;
            box-shadow: 1px 2px 5px 0.5px rgba(0, 0, 0, 0.1);
            border-radius: 1em;
        }

        .shape__icon_r {
            background-color: var(--blue-royal-clr_r);
            border-radius: 20px;
            box-shadow: 1px 2px 5px 0.5px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5vmin;
            color: white;
        }

        .shape__data_r{
            display: grid;
            grid-template-columns: 18% 1fr auto;
            padding-right: 10%;
        }

        .data__text_r{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h4{
                font-size: 1vmax;
                font-weight: 700;
            }

            p{
                font-size: 0.9vmax;
                font-weight: 500;
            }
        }

        .data__text_r:first-child{
            align-items: start;
        }
    }
}